# Secrets files
.env*
!.env.template
*wallet.json

node_modules
dist
contracts/test/
contracts/interfaces
docs

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

/backup
# some working files we don't need to keep
/agent-files

/hex-2048
/uniswap
/vue-wordle
/wordle
/doom
/HexGL
/minesweeper
/mancino
/colourmenft
/mancino-old
/w3-mancino